/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/storage/*.key
/storage/search
/vendor
/.idea
/.vscode
/.vagrant
.env
.env.backup
.php_cs.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
