@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/lexend.woff2) format('woff2');
}

@font-face {
  font-family: 'Noway Round';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(/fonts/nowayround-thin-webfont.woff2) format('woff2');
}
@font-face {
  font-family: 'Noway Round';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/nowayround-light-webfont.woff2) format('woff2');
}
@font-face {
  font-family: 'Noway Round';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/nowayround-regular-webfont.woff2) format('woff2');
}
@font-face {
  font-family: 'Noway Round';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/nowayround-medium-webfont.woff2) format('woff2');
}
@font-face {
  font-family: 'Noway Round';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/nowayround-bold-webfont.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Inter-roman.var.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/Inter-italic.var.woff2') format('woff2');
}
