@import 'tailwindcss/base';
@import './fonts.css';
@import './docsearch.css';
@import './prism.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-feature-settings: 'ss01', 'ss03', 'cv11', 'zero';
}

pre {
    @apply overflow-x-auto;
}

pre code.torchlight {
    @apply block min-w-max;
}

pre code.torchlight .line-number,
pre code.torchlight .summary-caret {
    @apply mr-6;
}

.torchlight.has-focus-lines .line:not(.line-focus) {
    transition: filter 0.35s, opacity 0.35s;
    filter: blur(.095rem);
    opacity: .65;
}

.torchlight.has-focus-lines:hover .line:not(.line-focus) {
    filter: blur(0px);
    opacity: 1;
}