@import "tailwindcss/base";

@import "tailwindcss/components";

@import "docs.css";
@import "toc.css";

@import "tailwindcss/utilities";

@import "highlight.js/styles/night-owl.css";

body {
    font-feature-settings: 'kern' 1, 'ss01' 1, 'ss02' 1, 'ss03' 1;
    -webkit-font-feature-settings: 'kern' 1, 'ss01' 1, 'ss02' 1, 'ss03' 1;
}

/*
 * https://blog.jim-nielsen.com/2017/creating-ios-icon-masks-in-the-browser/
 * https://www.iosicongallery.com/
 */
.squircle {
	mask-image: url(/storage/images/squircle-mask.svg);
    mask-size: cover;
}

[x-cloak] {
    @apply hidden;
}